.text {
  margin: 16px 2px;
  padding: 5px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 0 0 0.2px 0.6px rgba(0, 0, 0, 0.2);
}

.text__header {
  color: #346fb5;
}

.text__footer {
  text-align: right;
  color: rgba(0, 0, 0, 0.34);
}

.text__main {
  font-size: 1.2em;
  white-space: pre-wrap;
  word-break: break-all;
}
