<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <div class="container">
    <main>
      <div class="top-bar v-center">
        <label for="view-font-size">字体大小：<input type="range" id="view-font-size" data-base="px" min="15" max="30" value="16"></label>
      </div>

      <!--消息显示-->
      <section class="view"></section>

      <section class="input">

        <ul class="file-path"></ul>
        <form id="chat-form">
          <!--选项-->
          <div class="top-bar v-center">
            <a id="login-btn" class="btn" href="#settings">登录</a>
            <a id="logout-btn" class="btn hide">登出</a>

            <!--文件选择按钮-->
            <div class="file-btn btn hide">
              <span class="pointer">文件</span>
              <input type="file" multiple class="pointer file-input" />
            </div>

            <!--字体大小-->
            <label for="input-font-size">字体大小：<input type="range" id="input-font-size" data-base="px" min="12" max="24" value="16"></label>
          </div>

          <!--文本输入-->
          <textarea placeholder="输入消息"></textarea>
          <div class="submit"><button type="submit" id="submit-btn" class="btn hide">发送</button></div>
        </form>
      </section>

      <!--设置-->
      <div id="settings" class="overlay">
        <div class="popup select-none">
          <h3 class="popup-header">登录/设置</h3>
          <a class="popup-close" href="#">&times;</a>
          <div class="popup-content settings">
            <div class="row"><label for="username">用户名：</label><input type="text" data-local="username" id="username" placeholder="anonymous"></div>
            <div class="row"><label for="port">端口号：</label><input type="text" data-local="port" id="port" data-local="port" placeholder="8087"
                data-type="integer"></div>
            <div class="row"><label for="ip">本地地址：</label><input type="text" id="ip" data-local="host" placeholder="默认为本机IP地址"></div>

            <h4>指定地址/端口范围以连接</h4>
            <div class="row"><label for="ip-start">最小地址：</label><input type="text" id="ip-start" data-local="hostStart"></div>
            <div class="row"><label for="ip-end">最大地址：</label><input type="text" id="ip-end" data-local="hostEnd"></div>
            <div class="row"><label for="port-start">最小端口：</label><input type="text" id="port-start" data-local="portStart" data-type="integer"
                placeholder="8087"></div>
            <div class="row"><label for="port-end">最大端口：</label><input type="text" id="port-end" data-local="portEnd" data-type="integer" placeholder="8090"></div>

            <div id="connects">
              <h4>指定单个地址/端口以连接</h4>
              <button class="btn add">添加</button>
              <ul class="connect-list">
                <li>
                  <input type="text" data-connect="host" placeholder="IP地址">
                  <input type="text" data-connect="port" placeholder="端口号">
                  <button class="btn remove">删除</button>
                </li>
              </ul>
            </div>

            <a href="#" id="settings-submit" class="btn">提交</a>
          </div>
        </div>
      </div>
    </main>

    <!--用户列表-->
    <aside class="hide select-none"></aside>
  </div>
</body>

</html>
