body {
  height: 100vh;
}

$barWidth: 7px;
::-webkit-scrollbar {
  width: $barWidth;
  height: $barWidth;
}

$radius: 5px;
::-webkit-scrollbar-track {
  background: rgba(243, 243, 243, 0.43);
  border-radius: $radius;
}

::-webkit-scrollbar-thumb {
  background: rgba(180, 180, 180, 0.89);
  border-radius: $radius;
}

.col {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.col-1 {
  border-right: 0.6px solid #eee;
}
