body {
  height: 100vh;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

$radius: 20px;
::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: $radius;
}

::-webkit-scrollbar-thumb {
  background: #8D8B8B;
  border-radius: $radius;
}
