.dialog {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 10px 16px;
}

.text {
  width: 100%;
  font-size: 1.1em;
  margin: 15px 0;
  resize: none;
}

.send-btn-div {
  text-align: right;
}

.user-info {
  color: rgba(0, 0, 0, 0.85);
  padding: 8px 0 8px 8px;
  line-height: 22px;
  border-bottom: 1px solid #d9d9d9;
}
