:root {
  --view-font-size: 16px;
  --input-font-size: 16px;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}

.container {
  box-sizing: border-box;
  height: 100vh;
  padding: 1rem;
  display: flex;
}

aside, .view, textarea {
  border: 1px solid #e4e4d8;
  border-radius: 4px;
}

aside {
  flex-basis: 20vw;
  overflow: auto;
}

main {
  flex: 5;
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
}

.view {
  font-size: var(--view-font-size);
  padding: .5em;
  flex-grow: 2;
  flex-basis: 30vh;
  overflow-y: auto;
  margin-bottom: 2rem;
}

.input {
  flex-grow: 1;
}

textarea {
  display: block;
  resize: none;
  box-sizing: border-box;
  width: 100%;
  font-size: var(--input-font-size);
  font-family: inherit;
  border-radius: .4em;
  margin: 2px 0 0 0;
  padding: .5em;
  height: 20vh;
}

input[type=range] {
  margin: 0;
}

form > .submit {
  margin-top: 1.5rem;
  text-align: right;
}

a {
  color: cornflowerblue;
  text-decoration: none;
}

.btn {
  font-size: 14px;
  color: white;
  display: inline-block;
  border-radius: 2px;
  padding: .5em .6em;
  cursor: pointer;
  border: 1px solid #2e6da4;
  background: hsla(219, 50%, 55%, 1);
}

.btn:hover {
  background: hsla(219, 66%, 57%, 1);
}

.top-bar {
  padding: 10px;
}

.top-bar > *:not(:last-child) {
  margin-right: 1.5rem;
}

.pointer {
  cursor: pointer;
}

.file-btn {
  position: relative;
  overflow: hidden;
}

.file-btn .file-input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 2em;
  opacity: 0;
  cursor: pointer;
}

.file-path {
  padding-left: 10px;
  margin: 0 0 1rem 0;
  border-radius: 4px;
  background: #d4c7c7;
}

.file-path > li {
  list-style: none;
}

label {
  font-size: 14px;
  color: grey;
}

.v-center {
  display: flex;
  align-content: center;
}


/* https://codepen.io/imprakash/pen/GgNMXO?editors=1000 */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  z-index: 99;
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  width: 35%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup-close:hover {
  color: cornflowerblue;
}

.popup-content {
  padding-bottom: 5px;
  overflow: auto;
}

.popup-header {
  margin: 10px 0 30px;
  padding: 0;
  font-size: 1.3em;
}

#username-submit {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#username {
  width: 65%;
}

.center {
  text-align: center;
}

.hide {
  display: none!important;
}

.info {
  color: hsla(23, 30%, 55%, 1);
  font-size: 0.9em;
}
